:root {
  --tg-theme-bg-color: #efeff3;
  --tg-theme-button-color: #63d0f9;
  --tg-theme-button-text-color: black;
}

.App {
  height: 100vh;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.Container {
  padding: 2rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
.App {
  min-height: 100vh;
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  margin-bottom: 50px;
}

.Container {
  padding: 2rem;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.Button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 1rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}


@media only screen and (max-width: 600px) {
  .Container {
    padding: 1rem;
  }

  .Button {
    padding: 0.8rem 1.5rem; }

  h2 {
    font-size: 1.5rem;
  }
}

.Button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 1rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.Disabled {
  filter: brightness(50%);
  cursor: initial;
}

.Button.Active:hover {
  filter: brightness(105%);
}

h2 {
  text-align: center;
}

.donate-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  position: relative;
}

.header-icon {
  width: 40px;
  height: 40px;
}


.donate-button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #0078d4;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}

.donate-button:hover {
  background-color: #005a9e;
}

.header {
  background-color: #005a9e;
  color: white;
  padding: 10px;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: padding 0.3s ease;
}
.header.scrolled {
  padding: 5px;
}

.Card {
  width: 100%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
}

.nav-links a {
  margin-right: 20px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

.nav-links a:last-child {
  margin-right: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tg-theme-bg-color: #131415;
    --tg-theme-text-color: #fff;
    --tg-theme-button-color: #32a6fb;
    --tg-theme-button-text-color: #fff;
  }

  .Card {
    background-color: var(--tg-theme-bg-color);
    filter: brightness(165%);
  }

  .CounterValue {
    border-radius: 16px;
    color: white;
    padding: 10px;
  }
  @media only screen and (max-width: 600px) {
    .about-us-text {
      font-size: 14px; /* Adjust the font size as needed */
    }
  }
}